<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS
    href는 하이퍼 링크, rel은 스타일-->

    <title>Bye</title>
</head>
<body>
{{>layouts/header}}
<div class="bg-dark text-white p-5">
    <h1>{{username}}님, 다음에 또 만나요!</h1>
</div>
{{>layouts/footer}}
</body>
</html>