<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">

    <title>Hello, world!</title>
</head>
<body>
<!-- 주석 단축키: ctrl + Shift + / -->
<!--navigation-->
{{>layouts/header}}
<!--content-->
<div class="bg-dark text-white p-5">
    <h1>{{username}}님, 반갑습니다.!</h1>
</div>
<!--site info-->
{{>layouts/footer}}
</body>
</html>


<!-- ㅌ주석처리 단축키 cmd / -->